{% extends "base.html" %}

{% block head_title %}
    Издания
{% endblock%}

{% block body %}
    <p style="text-align: center">
        <a href="http://127.0.0.1:5000">
            ←
        </a>
    </p>

    <form action="" method="post">
        <p style="text-align: center">
            <label for="title_substr"></label>

            <input type="text"
                   id="title_substr"
                   name="title_substr"
                   size="30"/>

            <button type="submit"
                   name="search_book_button"
                   value="1">
                Найти издание
            </button>
        </p>
    </form>

    <form action="" method="post">
        <p style="text-align: center">
            <button type="submit"
                   name="export_to_json_button"
                   value="2">
                Экспорт всей таблицы в формат JSON
            </button>

            <button type="submit"
                   name="export_to_csv_button"
                   value="3">
                Экспорт всей таблицы в формат CSV
            </button>
        </p>
    </form>

    <table id="data"
           class="table table-striped"
           border="1"
           style="border-collapse: collapse"
           align="center">
        <thead>
            <tr>
                <th>Название</th>
                <th>Ф.И.О. автора</th>
                <th>Издательство</th>
                <th>Год выпуска</th>
                <th>Жанр</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.publisher }}</td>
                    <td>{{ book.release_year }}</td>
                    <td>{{ book.genre.name }}</td>
                    {% if not book_to_edit %}
                        <td>
                            <form action="" method="post">
                                <button type="submit"
                                        name="book_button"
                                        value="{{ book.id }}">
                                    {% if reader %}
                                        В избранное
                                    {% else %}
                                        Удалить
                                    {% endif %}
                                </button>
                            </form>
                        </td>
                        {% if not reader %}
                            <td>
                                <form action="" method="post">
                                    <button type="submit"
                                            name="edit_book_button"
                                            value="{{ book.id }}">
                                        Изменить
                                    </button>
                                </form>
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if book_is_already_favourite %}
        <p style="text-align: center; color:red">
            Издание уже в избранном
        </p>
    {% endif %}

    {% if not reader %}
        <p style="text-align: center">
            {% if book_to_edit %}
                Изменить
            {% else %}
                Добавить
            {% endif %}
            издание
        </p>

        <form action="" method="post">
            <p style="text-align: center">
                <label for="title">
                    Название
                </label>

                <input type="text"
                       id="title"
                       name="title"
                       size="30"
                       required/>
            </p>

            <p style="text-align: center">
                <label for="author">
                    Ф.И.О. автора
                </label>

                <input type="text"
                       id="author"
                       name="author"
                       size="30"
                       required/>
            </p>

            <p style="text-align: center">
                <label for="publisher">
                    Издатель
                </label>

                <input type="text"
                       id="publisher"
                       name="publisher"
                       size="30"
                       required/>
            </p>

            <p style="text-align: center">
                <label for="release_year">
                    Год выпуска
                </label>

                <input type="text"
                       id="release_year"
                       name="release_year"
                       size="30"
                       required/>
            </p>

            <p style="text-align: center">
                <label for="genres">
                    Жанр
                </label>

                <select name="genres" id="genres">
                    {% for genre in genres %}
                        <option value="{{ genre.id }}">{{ genre.name }}</option>
                    {% endfor %}
                </select>
            </p>

            <p style="text-align: center">
                <button type="submit"
                        value="4">
                    Ок
                </button>>
            </p>
        </form>
    {% endif %}
{% endblock %}
