{% extends "base.html" %}

{% block head_title %}
    Издания
{% endblock%}

{% block body %}
    <p style="text-align: center">
        <a href="http://127.0.0.1:5000">
            ←
        </a>
    </p>

    <form action="" method="post">
        <p style="text-align: center">
            <label for="title_substr"></label>

            <input type="text"
                   id="title_substr"
                   name="title_substr"
                   size="30"/>

            <input type="submit"
                   name="search_book_button"
                   value="Найти издание">
        </p>
    </form>

    <form action="" method="post">
        <p style="text-align: center">
            <input type="submit"
                   name="export_to_json_button"
                   value="Экспорт всей таблицы в формат JSON">

            <input type="submit"
                   name="export_to_csv_button"
                   value="Экспорт всей таблицы в формат CSV">
        </p>
    </form>

    <table id="data"
           class="table table-striped"
           border="1"
           style="border-collapse: collapse"
           align="center">
        <thead>
            <tr>
                <th>Название</th>
                <th>Ф.И.О. автора</th>
                <th>Издательство</th>
                <th>Год выпуска</th>
                <th>Жанр</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.publisher }}</td>
                    <td>{{ book.release_year }}</td>
                    <td>{{ book.genre.name }}</td>
                    {% if reader %}
                        <td>
                            <form action="" method="post">
                                <button type="submit"
                                        name="add_to_favourites"
                                        value="{{ book.id }}">
                                    В избранное
                                </button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if book_is_already_favourite%}
        <p style="text-align: center; color:red">
            Издание уже в избранном
        </p>
    {% endif %}
{% endblock %}
