{% extends "base.html" %}

{% block head_title %}
    Избранное
{% endblock%}

{% block body %}
    <p style="text-align: center">
        <a href="http://127.0.0.1:5000">
            ←
        </a>
    </p>

    {% if guest%}
        <p style="text-align: center; color:red">
            Данную страницу могут просматривать только
            авторизованные пользователи, имеющие
            соответствующие права
        </p>

        <p style="text-align: center">
            <a href="http://127.0.0.1:5000/sign_in">
                Авторизоваться
            </a>
        </p>
    {% else %}
        <h3 style="text-align: center">Избранное</h3>

        {% if favourites %}
            <table id="data"
                   class="table table-striped"
                   border="1"
                   style="border-collapse: collapse"
                   align="center">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Ф.И.О. автора</th>
                        <th>Издательство</th>
                        <th>Год выпуска</th>
                        <th>Жанр</th>
                    </tr>
                </thead>
                <tbody>
                    {% for favourite in favourites %}
                        <tr>
                            <td>{{ favourite.book.title }}</td>
                            <td>{{ favourite.book.author }}</td>
                            <td>{{ favourite.book.publisher }}</td>
                            <td>{{ favourite.book.release_year }}</td>
                            <td>{{ favourite.book.genre.name }}</td>
                            <td>
                                <form action="" method="post">
                                    <button type="submit"
                                            name="delete_from_favourites"
                                            value="{{ favourite.id }}">
                                        Удалить
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p style="text-align: center; color: darkorange">
                Таблица пуста
            </p>
        {% endif %}
    {% endif %}
{% endblock %}
