{% extends "base.html" %}

{% block head_title %}
    Формуляры
{% endblock%}

{% block body %}
    <p style="text-align: center">
        <a href="http://127.0.0.1:5000">
            ←
        </a>
    </p>

    {% if formulars %}
        <table id="data"
               class="table table-striped"
               border="1"
               style="border-collapse: collapse"
               align="center">
            <thead>
                <tr>
                    {% if not reader %}
                        <th>Логин читателя</th>
                    {% endif %}
                    <th>Название книги</th>
                    <th>Дата начала чтения</th>
                    <th>Дата завершения чтения</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                {% for formular in formulars %}
                    <tr>
                        {% if not reader %}
                            <td>{{ formular.reader.login }}</td>
                        {% endif %}
                        <td>{{ formular.book.title }}</td>
                        <td>{{ formular.date_of_begin_of_reading }}</td>
                        <td>{{ formular.date_of_end_of_reading }}</td>
                        <td>{{ formular.status.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
