{% extends "base.html" %}

{% block head_title %}
    Формуляры
{% endblock%}

{% block body %}
    <p style="text-align: center">
        <a href="http://127.0.0.1:5000">
            ←
        </a>
    </p>

    {% if guest %}
        <p style="text-align: center; color:red">
            Данную страницу могут просматривать только
            авторизованные пользователи, имеющие
            соответствующие права
        </p>

        <p style="text-align: center">
            <a href="http://127.0.0.1:5000/sign_in">
                Авторизоваться
            </a>
        </p>
    {% else %}
        <h3 style="text-align: center">Формуляры</h3>

        <form action="" method="post">
            <p style="text-align: center">
                <button type="submit"
                       name="export_to_json_button"
                       value="2">
                    Экспорт всей таблицы в формат JSON
                </button>

                <button type="submit"
                       name="export_to_csv_button"
                       value="3">
                    Экспорт всей таблицы в формат CSV
                </button>
            </p>
        </form>

        {% if formulars %}
            <table id="data"
                   class="table table-striped"
                   border="1"
                   style="border-collapse: collapse"
                   align="center">
                <thead>
                    <tr>
                        {% if not reader %}
                            <th>Логин читателя</th>
                        {% endif %}
                        <th>Название книги</th>
                        <th>Ф.И.О. автора</th>
                        <th>Дата начала чтения</th>
                        <th>Дата завершения чтения</th>
                        <th>Книга прочтена?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for formular in formulars %}
                        <tr>
                            {% if not reader %}
                                <td>{{ formular.reader.login }}</td>
                            {% endif %}
                            <td>{{ formular.book.title }}</td>
                            <td>{{ formular.book.author }}</td>
                            <td>{{ formular.date_of_begin_of_reading }}</td>
                            <td>
                                {% if formular.date_of_end_of_reading %}
                                    {{ formular.date_of_end_of_reading }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if formular.read %}
                                    Да
                                {% else %}
                                    Нет
                                {% endif %}
                            </td>
                            {% if not reader %}
                                <td>
                                    <form action="" method="post">
                                        <button type="submit"
                                                name="delete_formular_button"
                                                value="{{ formular.id }}">
                                            Удалить
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form action="" method="post">
                                        <button type="submit"
                                                name="edit_formular_button"
                                                value="{{ formular.id }}">
                                            Изменить
                                        </button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p style="text-align: center; color: darkorange">
                Таблица пуста
            </p>
        {% endif %}

        {% if not reader %}
            <p style="text-align: center">
                {% if formular_to_edit %}
                    Изменить
                {% else %}
                    Добавить
                {% endif %}
                формуляр:
            </p>

            <form action="" method="post">
                <p style="text-align: center">
                    <label for="users">
                        Пользователь:
                    </label>

                    <select name="users" id="users">
                        <option value="">Выбрать пользователя</option>
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.login }}</option>
                        {% endfor %}
                    </select>
                </p>

                <p style="text-align: center">
                    <label for="books">
                        Издание:
                    </label>

                    <select name="books" id="books">
                        <option value="">Выбрать издание</option>
                        {% for book in books %}
                            <option value="{{ book.id }}">"{{ book.title }}", {{ book.author }}</option>
                        {% endfor %}
                    </select>
                </p>

                <p style="text-align: center">
                    <label for="date_of_begin_of_reading">
                        Дата начала чтения:
                    </label>

                    <input type="text"
                           id="date_of_begin_of_reading"
                           name="date_of_begin_of_reading"
                           size="30"
                           required/>
                </p>

                <p style="text-align: center">
                    <label for="date_of_end_of_reading">
                        Дата завершения чтения:
                    </label>

                    <input type="text"
                           id="date_of_end_of_reading"
                           name="date_of_end_of_reading"
                           size="30"/>
                </p>

                <p style="text-align: center">
                    <label for="was_book_read">
                        Книга прочтена?
                    </label>

                    <select name="was_book_read" id="was_book_read">
                        <option value="">Нет</option>
                        <option value="1">Да</option>
                    </select>
                </p>

                <p style="text-align: center">
                    <button type="submit"
                            name="enter"
                            value="1">
                        Ок
                    </button>
                </p>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
