{% extends "base.html" %}

{% block head_title %}
    Электронная библиотека
{% endblock %}

{% block body %}
    {% if not authenticated %}
        <p style="text-align: center">
            <a href="http://127.0.0.1:5000/sign_in">
                Вход
            </a>
        </p>
    {% else %}
        <p style="text-align: center">
            Логин пользователя: {{ login }}
        </p>

        <p style="text-align: center">
            <a href="http://127.0.0.1:5000/sign_out">
                Выход
            </a>
        </p>

        {% if not_reader %}
            {% if admin %}
                <p style="text-align: center">
                    <a href="http://127.0.0.1:5000/users">
                        Пользователи
                    </a>
                </p>
            {% endif %}

            <p style="text-align: center">
                <a href="http://127.0.0.1:5000/genres">
                    Жанры
                </a>
            </p>
        {% else %}
            <p style="text-align: center">
                <a href="http://127.0.0.1:5000/favourites">
                    Избранное
                </a>
            </p>
        {% endif %}

        <p style="text-align: center">
            <a href="http://127.0.0.1:5000/formulars">
                Формуляры
            </a>
        </p>
    {% endif %}

    <p style="text-align: center">
        <a href="http://127.0.0.1:5000/books">
            Издания
        </a>
    </p>
{% endblock %}
