{% extends "base.html" %}

{% block head_title %}
    Жанры
{% endblock%}

{% block body %}
    {% if guest %}
        <p style="text-align: center; color:red">
            Данную страницу могут просматривать только
            авторизованные пользователи, имеющие
            соответствующие права
        </p>

        <p style="text-align: center">
            <a href="http://127.0.0.1:5000/sign_in">
                Авторизоваться
            </a>
        </p>
    {% else %}
        <p style="text-align: center">
            <a href="http://127.0.0.1:5000">
                ←
            </a>
        </p>

        <table id="data"
               class="table table-striped"
               border="1"
               style="border-collapse: collapse"
               align="center">
            <thead>
                <tr>
                    <th>Код</th>
                    <th>Название</th>
                </tr>
            </thead>
            <tbody>
                {% for r in ref %}
                    <tr>
                        <td>{{ r.code }}</td>
                        <td>{{ r.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
