{% extends "base.html" %}

{% block head_title %}
    Пользователи
{% endblock%}

{% block body %}
    <p style="text-align: center">
        <a href="http://127.0.0.1:5000">
            ←
        </a>
    </p>

    {% if guest %}
        <p style="text-align: center; color:red">
            Данную страницу могут просматривать только
            авторизованные пользователи, имеющие
            соответствующие права
        </p>

        <p style="text-align: center">
            <a href="http://127.0.0.1:5000/sign_in">
                Авторизоваться
            </a>
        </p>
    {% else %}
        <h3 style="text-align: center">Пользователи</h3>

        {% if users %}
            <table id="data"
                   class="table table-striped"
                   border="1"
                   style="border-collapse: collapse"
                   align="center">
                <thead>
                    <tr>
                        <th>Логин</th>
                        <th>Адрес электронной почты</th>
                        <th>Роль пользователя</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.login }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.role.name }}</td>
                            {% if not user_role_to_edit %}
                                <td>
                                    <form action="" method="post">
                                        <button type="submit"
                                                name="edit_user_role_button"
                                                value="{{ user.id }}">
                                            Изменить роль
                                        </button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p style="text-align: center; color: darkorange">
                Таблица пуста
            </p>
        {% endif %}

        {% if user_role_to_edit %}
            <p style="text-align: center">
                Изменить роль
            </p>

            <form action="" method="post">
                <p style="text-align: center">
                    <label for="roles">
                        Новая роль:
                    </label>


                    <select name="roles" id="roles">
                        <option value="">Выбрать новую роль</option>
                        {% for role in roles %}
                            <option value="{{ role.id }}">{{ role.name }}</option>
                        {% endfor %}
                    </select>
                </p>

                <p style="text-align: center">
                <button type="submit"
                        name="enter"
                        value="1">
                    Ок
                </button>
            </p>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
